<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mision</title>
</head>
<body>
    <h1>Bienvendo a la mision de mi empresa</h1>
    
    
<p>Formar profesionales competentes y éticos, comprometidos con el desarrollo sostenible de su entorno, mediante una educación integral que fomente el pensamiento crítico, la innovación y el compromiso social, contribuyendo al avance del conocimiento a través de la investigación y la vinculación con la sociedad.</p>   

</body>
</html>